/* Seteo de archivos */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  width:100%;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

/* CLASES REUTILIZABLES */
.celebrities {
  padding: 0px 25px;
}
/* Estilos del header */
#navigation-bar {
  padding: 20px 80px;
  border-bottom: 2px solid rgb(107, 107, 107);
}
#navigation-bar li{
  display: inline-block;
  margin: auto;
}
.icons-nav {
  float: left;
  font-size: 14px;
  color: rgb(68, 68, 68);
  padding: 0px 20px;
}
.fa-twitter {
  color:rgb(29,161,242);
}
.tools-nav {
  float: right;
}
.nav-img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin:0px 30px;
}
.btn {
  padding: 10px 25px;
  background-color: rgb(29,161,242);
  color:rgb(255, 255, 255);
  border-style: none;
  border-radius: 10px;
}
/* Estilos del container */
.container {
  background-image: url("../assets/imgs/background.jpg");
  background-repeat: round;
  padding: 20px 80px;
  column-count: 2;
}
.static-box {
  background-color: #FFF;
  padding: 0px 30px;
}
.text-box {
  padding:8px;
}
.tweet-box {
  margin:5px;
  background-color: #FFF;
  border:1px solid #546971;
  border-radius: 10px;
  height: 70px;
}
#count-box {
  text-align: center;
  background:rgb(249, 249, 249);
  height: 30px;
  width: 35px;
  float:right;
  margin-right: 2%;
}
